extends layout

block content
  h1= title
  p
    a(href="./view") View
  h2=message
  form(action='/' method='post')
    input(type='text' name='fName')
    input(type='text' name='lName')
    select(name='dep')
      option Accountant
      option Software Engineer
      option Officer
    input(type='text' name='jTitle')
    input(type='number' name='salary')
    input(type='submit' name='submit')
