extends layout

block content
  h1= message
  h2= error.status
  //pre #{error.stack}
  -var num = Math.floor(Math.random()*(50 - 20) + 20);
  -var i = 0;
  -var classes = ['still', 'rotate', 'shrink'];
   while i < num
    -var res = Math.floor(Math.random()*(2-(-1)) + 0);
    -console.log(res);
    div(class= classes[res]) 404
    -i++;