extends layout

block content
  <div class='row'>
    img.image(src="/images/node.svg" alt="About Image")
  </div>
  <div class='row'>
    p Welcome to #{title}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo iaculis, dapibus velit nec, accumsan enim. Cras justo urna, scelerisque sit amet nibh sit amet, vestibulum molestie lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan semper sapien, sed dictum magna dapibus sed. Etiam sollicitudin dolor nec nisl sollicitudin lacinia. Aliquam non magna nisl. Aliquam sapien neque, fringilla condimentum urna in, viverra dapibus tortor. Nulla nec nisl venenatis, iaculis velit a, aliquam orci. Curabitur tempus scelerisque consequat. Pellentesque bibendum urna et luctus tristique. Morbi vestibulum interdum posuere. Duis lacinia augue nunc, sit amet ullamcorper massa aliquet a. In ut enim dignissim, pharetra mauris nec, euismod nisl. Proin tempus est nec nisi scelerisque blandit. Vestibulum et ornare turpis, ut pharetra nisi. Suspendisse auctor volutpat interdum. 
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae leo iaculis, dapibus velit nec, accumsan enim. Cras justo urna, scelerisque sit amet nibh sit amet, vestibulum molestie lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan semper sapien, sed dictum magna dapibus sed. Etiam sollicitudin dolor nec nisl sollicitudin lacinia. Aliquam non magna nisl. Aliquam sapien neque, fringilla condimentum urna in, viverra dapibus tortor. Nulla nec nisl venenatis, iaculis velit a, aliquam orci. Curabitur tempus scelerisque consequat. Pellentesque bibendum urna et luctus tristique. Morbi vestibulum interdum posuere. Duis lacinia augue nunc, sit amet ullamcorper massa aliquet a. In ut enim dignissim, pharetra mauris nec, euismod nisl. Proin tempus est nec nisi scelerisque blandit. Vestibulum et ornare turpis, ut pharetra nisi. Suspendisse auctor volutpat interdum. 
  </div>